
  <nav class="navbar is-light">
    <div class="container">
    <div class="navbar-left">
      <div class="navbar-brand">
        <figure class="image is-64x64">
            <img src="https://image.flaticon.com/icons/png/512/405/405738.png" alt="">
        </figure>
      </div>
    </div>
    <div class="navbar-right">
      <div class="navbar-menu">
        <a class="navbar-item" href="/">Home ¥</a>
        <a class="navbar-item" href="/about">About</a>
        <a class="navbar-item" href="/authors">Authors</a>
        <a class="navbar-item" href="/audiobooks">Audiobooks</a>
        <a class="navbar-item" href="/authors/new">Add Author</a>
        <% if (!locals.isLoggedIn) { %>
        <a class="navbar-item" href="/registrations/new">Sign Up</a>
        <a class="navbar-item" href="/sessions/new">Log In</a>
      <% } else { %>
        <a class="navbar-item" href="/sessions/delete">Log Out <%= `Lord ${locals.user.name}` %></a>
      <% } %>
      </div>
    </div>
  </div>
  </nav>
