
<nav class="">
  <div class="columns has-text-centered">
    <%# LEFT COLUMN %>
    <div class="column is-4 columns is-vcentered">
      <a class="column" href="/">Home</a>
      <a class="column" href="/about">About</a>
      <a class="column" href="/audiobooks">Audiobooks</a>
    </div>
    <%# MIDDLE COLUMN %>
    <div class="column is-4 columns">
      <h3 class="column is-12 has-text-centered">
        <img src="https://image.flaticon.com/icons/png/512/405/405738.png" alt="" style="height: 50px;">Audio Shelf
      </h3>
    </div>
    <%# RIGHT COLUMN %>
    <div class="column is-4 columns is-vcentered">
      <a class="column" href="/audiobooks/new">Add Audiobook</a>

      <% if (!locals.isLoggedIn) { %>
        <a class="column" href="/registrations/new">Sign Up</a>
        <a class="column" href="/sessions/new">Log In</a>
        <% } else { %>
          <a class="column" href="/sessions/delete">Log Out <%= `Captain ${locals.user.name}` %></a>
        <% } %>
    </div>
  </div>
</nav>
