<form class="" action="/authors/<%= author.id %>/comments" method="POST">
  <div class="field">
    <label for="content">Add a comment</label>
    <textarea class="textarea" name="content" placeholder="Words go here."></textarea>
  </div>

  <input type="hidden" name="name" value="<%= locals.user.name %>">

  <div class="field">
    <button type="button is-info" name="button">Submit</button>
  </div>
</form>
