<form method="POST" action="/audiobooks">
  <div class="field">
    <label class="label" for="audiobook">Name</label>
    <div class="control">
      <input name="audiobook" class="input" type="text">
    </div>
  </div>

  <div class="field">
    <label class="label" for="author">Author</label>
    <div class="control">
      <input name="author" class="input" type="text">
    </div>
  </div>

  <div class="field">
    <label class="label" for="bookCover">Book Cover (URL)</label>
    <div class="control">
      <input name="bookCover" class="input" type="text">
    </div>
  </div>

  <div class="field">
    <label class="label" for="narrator">Narrator</label>
    <div class="control">
      <input name="narrator" class="input" type="text">
    </div>
  </div>

  <div class="field">
    <label class="label" for="publicationYear">Publication Year</label>
    <div class="control">
      <input name="publicationYear" class="input" type="text">
    </div>
  </div>

  <div class="field">
    <label class="label" for="genres">Genres (comma-separated)</label>
    <div class="control">
      <input name="genres" class="input" type="text">
    </div>
  </div>

  <div class="field">
    <label class="label" for="length">Audiobook Length</label>
    <div class="control">
      <input name="length" class="input" type="number">
    </div>
  </div>


  <button class="button is-primary">Add audiobook</button>
</form>
