<h1 class="title is-1">List of Authors</h1>

<div class="columns is-multiline">

<% authors.forEach(author => { %>
  <div class="column is-one-quarter">
  <a href="/authors/<%= author._id %>">
  <img src=<%= author.authorPic %> alt<%= author.author %> />
  <h2 class="title is-2"><%= author.author %></h2>
  </a>
  </div>
<% }) %>

</div>
