<form method="POST" action="/authors">
  <div class="field">
    <label class="label" for="author">Name</label>
    <div class="control">
      <input name="author" class="input" type="text">
    </div>
  </div>

  <div class="field">
    <label class="label" for="nationality">Nationality</label>
    <div class="control">
      <input name="nationality" class="input" type="text">
    </div>
  </div>

  <div class="field">
    <label class="label" for="authorPic">Author Picture (URL)</label>
    <div class="control">
      <input name="authorPic" class="input" type="text">
    </div>
  </div>

  <div class="field">
    <label class="label" for="genres">Genres (comma-separated)</label>
    <div class="control">
      <input name="genres" class="input" type="text">
    </div>
  </div>

  <div class="field">
    <label class="label" for="numberOfPublishedAudiobooks">Number Of Published Audiobooks</label>
    <div class="control">
      <input name="numberOfPublishedAudiobooks" class="input" type="number">
    </div>
  </div>


  <button class="button is-primary">Add Author</button>
</form>
