<form method="POST" action="/albums">
  <div class="field">
    <label class="label" for="name">Name</label>
    <div class="control">
      <input name="name" class="input" type="text">
    </div>
  </div>

  <div class="field">
    <label class="label" for="name">Artist</label>
    <div class="control">
      <input name="artist" class="input" type="text">
    </div>
  </div>

  <div class="field">
    <label class="label" for="coverPic">Cover Picture (URL)</label>
    <div class="control">
      <input name="coverPic" class="input" type="text">
    </div>
  </div>

  <div class="field">
    <label class="label" for="genres">Genres (comma-separated)</label>
    <div class="control">
      <input name="genres" class="input" type="text">
    </div>
  </div>

  <div class="field">
    <label class="label" for="spotifyMonthlyPlays">Spotify Monthly Plays</label>
    <div class="control">
      <input name="spotifyMonthlyPlays" class="input" type="text">
    </div>
  </div>

  <div class="field">
    <label class="label" for="label">Record Label</label>
    <div class="control">
      <input name="label" class="input" type="text">
    </div>
  </div>

  <button class="button is-primary">Create album</button>
</form>
